/* Styles généraux */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Styles du header */
header {
  background-color: #fd3f92 ;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Styles du main */
main {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

section h2 {
  margin-top: 0;
}

/* Styles du footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
